.perf {
    color: blue;
    text-align: center;
}
#imagem1{
  
    justify-content: center;
    text-align: center;
}
.perf2 {
    color: red;
    text-align: center;
}
* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.tab{
    margin-left: 10%;
    width: 80%;
    margin-right: 10%;
}
.tabh {
    color: rgb(255, 255, 255);
    font-size: larger;
}
.lista{
    color: aliceblue;
    font-size: x-large;
   
}
#ajuste{
    margin-bottom: 0%;
    margin-top: 28%;
}
#ajuste2{
    margin-bottom: 0%;
    margin-top: 20%;
}
